@using OnlineTicariOtomasyon.Models.Siniflar
@model List<KargoTakip>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Aciklama</td>
            <td>@k.TarihZaman</td>
        </tr>
    }
</table>




